<% provide(:title, 'Home') %>

<div class="center hero-unit">
		<div id='hero-content'>
		<h1>reeftank.me</h1><br />
		<h2>Tracking creatures in your tank</h2><br />

		<%= link_to "Signup to reeftank.me", signup_path, :class => 'btn btn-large btn-primary' %>
		</div>
</div>
<h1>A catalogue of my marine tank.</h1>
<h2>
	I love coding, and I love reefkeeping so it was only natural that I create a website for my fishtank.
	You can browse the creatures that I have in my fishtank, and see the lifespan of the stock in my tank.
</h2>


	<h4>Timeline for </h4>
		<div class="timeline">
			<ul class="events">
				<% @timeline_creatures.each do |creature| %>

						<% width = creature.find_css_width(creature, @earliest_timeline_creature_timestamp) %>
						<% left = creature.find_css_left(creature, @earliest_timeline_creature_timestamp) %>

						<% style = "width: #{width}%; left: #{left}%;" %>

						<li style="<%= style %>">
								<%= image_tag creature.photo.url(:thumb), class: 'img-circle', style: 'width: 50px' %><%= creature.name %>
						</li>
				<% end %>
				<!--<li style="width: 42.48%; left: 57.2%;">Mandarin</li>
				<li style="width: 56.68%; left: 43%;">Photography</li>
				<li style="width: 71.3%; left: 28.4%;">Object Oriented Programming</li>
				<li style="width: 85.5%; left: 14.2%;">Web Development</li>
				<li style="width: 42.75%; left: 0;">3D Modeling and Rendering</li>
				<li style="width: 99.5%; left: 0;">Drawing &amp; Illustration</li>-->
		</ul> <!-- end .events -->

			<ul class="intervals">
				<% @year_range.each_with_index do |year, index| %>
						<% css_class = 0 == index ? "class='first'" : "" %>
						<li style='width:<%= @year_range_count %>%' <%= css_class %>><%= year %></li>
				<% end %>
			</ul> <!-- end .intervals -->
		</div> <!-- end .timeline -->

		<div style='clear:both;'><br /><br /></div>
<h3><%= link_to "Latest creatures", creatures_path %></h3>
<% @creatures.each do |creature| %>
	<div style='margin:10px;float:left'>
		<%= link_to (image_tag creature.photo.url(:thumb)), creature_path(creature)  %>
	</div>
<% end %>

<div style='clear:both'><br /></div>
<h3><%= link_to "Users", creatures_path %></h3>
<% @users.each do |user| %>
			<%= link_to (gravatar_for user, 100) %>
<% end %>

<div style='clear:both'><br /></div>
<h3><%= link_to "Fishtanks", creatures_path %></h3>
<% @fishtanks.each do |fishtank| %>
		<%= image_tag fishtank.photo.url(:thumb) %>
<% end %>


