<% provide(:title, 'Home') %>

<div class="center hero-unit">
		<div id='hero-content'>
		<h1>reeftank.me</h1><br />
		<h2>Tracking progress in my reef</h2><br />

		<%= link_to "View Gallery", creatures_path, :class => 'btn btn-large btn-primary' %>
		</div>
</div>
<h1>A catalogue of my marine tank</h1>
<h2>
	I love coding, and I love reefkeeping so it was only natural that I create a website for my fishtank.
	You can browse photos of all the livestock, and see the lifespan on the timeline below.
</h2>

	<ul class="homepage_gallery">
<% @creatures.each_with_index do |creature, index| %>

		<% css_class = index % 4 == 3 ? "last" : "" %>

		<li class="<%= css_class %>"><%= link_to (image_tag creature.photo.url(:thumb)), creature.photo.url(:medium), :rel => "lightbox"  %></li>
<% end %>
	</ul>
	<h3><%= link_to 'more', creatures_path, :class => 'more_link' %></h3>

		<div style='clear:both;'><br /><br /></div>
		<center><h3>Timeline</h3></center>
		<h2 style='font-size:1.5em'>Below is a timeline of livestock to my marine tank.  It indicates when I bought them during the year, and how long I have had them for.  This kind of information can help me identify which species do the best in my nano aquarium, and pinpoint unusual events.</h2>
		<div class="timeline">
			<ul class="events">
				<% @timeline_creatures.each do |creature| %>

						<% width = creature.find_css_width(creature, @earliest_timeline_creature_timestamp) %>
						<% left = creature.find_css_left(creature, @earliest_timeline_creature_timestamp) %>

						<% style = "width: #{width}%; left: #{left}%;" %>

						<li style="<%= style %>">
								<%= image_tag creature.photo.url(:thumb), class: 'img-circle', style: 'width: 2.4em' %><%= creature.name %>
						</li>
				<% end %>
				<!--<li style="width: 42.48%; left: 57.2%;">Mandarin</li>
				<li style="width: 56.68%; left: 43%;">Photography</li>
				<li style="width: 71.3%; left: 28.4%;">Object Oriented Programming</li>
				<li style="width: 85.5%; left: 14.2%;">Web Development</li>
				<li style="width: 42.75%; left: 0;">3D Modeling and Rendering</li>
				<li style="width: 99.5%; left: 0;">Drawing &amp; Illustration</li>-->
		</ul> <!-- end .events -->

			<ul class="intervals">
				<% @year_range.each_with_index do |year, index| %>
						<% css_class = 0 == index ? "class='first'" : "" %>
						<li style='width:<%= @year_range_count %>%' <%= css_class %>><%= year %></li>
				<% end %>
			</ul> <!-- end .intervals -->
		</div> <!-- end .timeline -->

<div style='clear:both'><br /></div>
<h3>Fishtank</h3>
<% @fishtanks.each do |fishtank| %>
<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2">
				<%= link_to (image_tag fishtank.photo.url(:thumb), 
							 :alt => fishtank.title, 
							 :class => "list_image"), 
							 { 
					:action => "index", 
					:controller => "creatures", 
					:fishtank_id => fishtank.id  
				}, :class => "thumbnail" %>
			</div>
			<div class="span10">
				<h4><strong><a href="#"><%= fishtank.title %></a></strong></h4>
				<p>
				<%= fishtank.description %>
				</p>
				<p>
			</div>
		</div>
	</div>
</div>
<% end %>

<div style='clear:both'><br /></div>
<h3>Users</h3>
<% @users.each do |user| %>
			<%= gravatar_for user, 100 %>
<% end %>
<div style='clear:both'><br /></div>
