<%= provide(:title, "Fish tank") %>

<h1>Fish tank</h1>

<ul class='fishtanks'>
	<% @fishtanks.each do |fishtank| %>
<div class="row">
	<div class="span8">
		<div class="row">
			<div class="span8">
				<h4><strong><a href="#"><%= fishtank.title %></a></strong></h4>
			</div>
		</div>
		<div class="row">
			<div class="span2">
		<%= link_to (image_tag fishtank.photo.url(:thumb), 
					 :alt => fishtank.title, 
					 :class => "list_image"), 
					 { 
						:action => "index", 
						:controller => "galleries", 
						:fishtank_id => fishtank.id  
		}, :class => "thumbnail" %>
			</div>
			<div class="span6">
				<p>
				<%= fishtank.description %>
				</p>
				<p>
				<%= link_to "Add photos", new_fishtank_gallery_path(fishtank), :class => 'btn btn-success' %>
				<%= link_to "Edit", edit_fishtank_path(fishtank), :class => 'btn btn-primary' %>
				<%= link_to "delete", fishtank, method: :delete, :class => 'btn btn-danger', data: { confirm: "Are you sure?" } %>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<p></p>
				<p>
				<i class="icon-user"></i> by <a href="#">John</a>
				| <i class="icon-calendar"></i> <%= fishtank.date_aquired.strftime('%d %B %Y') %>
				| <i class="icon-comment"></i> <a href="#">3 Comments</a>
				| <i class="icon-share"></i> <a href="#">39 Shares</a>
				| <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a>
				<a href="#"><span class="label label-info">Bootstrap</span></a>
				<a href="#"><span class="label label-info">UI</span></a>
				<a href="#"><span class="label label-info">growth</span></a>
				</p>
			</div>
		</div>
	</div>
</div>
<hr>
     <%# <div class="span1"> %>
    <%# <a href="#" class="btn btn-primary"> %>
    <%# <i class="icon-pencil icon-white"></i> %>
    <%# <span><strong>Write</strong></span> %>
    <%# </a> %>
    <%# </div> %>
    <%# <div class="span1"> %>
    <%# <a href="#" class="btn btn-primary"> %>
    <%# <i class="icon-eye-open icon-white"></i> %>
    <%# <span><strong>View</strong></span> %>
    <%# </a> %>
    <%# </div> %>
    <%# <div class="span1"> %>
    <%# <a href="#" class="btn btn-primary"> %>
    <%# <i class="icon-edit icon-white"></i> %>
    <%# <span><strong>Edit</strong></span> %>
    <%# </a> %>
    <%# </div> %>
    <%# <div class="span1"> %>
    <%# <a href="#" class="btn btn-primary"> %>
    <%# <i class="icon-trash icon-white"></i> %>
    <%# <span><strong>Delete</strong></span> %>
    <%# </a> %>
    <%# </div> %>
	<% end %>

</ul>

<div style='clear:both'></div>
