 <% content_for :custom_scripts do %>
  <script type="text/javascript">
    $(function() {
      $('.datepicker').datepicker();
    });
  </script>
<% end %>

<%= form_for(@creature) do |f| %>
  <% if @creature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@creature.errors.count, "error") %> prohibited this creature from being saved:</h2>

      <ul>
      <% @creature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
	<%= f.label :date_aquired, "Date aquired" %>
	<%= f.text_field :date_aquired, :class => "datepicker"  %><br />
  </div>
  <%# <div class="field"> %>
	<%# <%= f.label :rip_date, "RIP Date" %1> %>
	<%# <%= f.text_field :rip_date, :class => "datepicker"  %1><br /> %>
  <%# </div> %>
  <div class="field">
    <%= f.label :scientific_name %><br />
    <%= f.text_field :scientific_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
