<%= form_for @creature, :html => { :multipart => true } do |f| %>
  <% if @creature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@creature.errors.count, "error") %> prohibited this creature from being saved:</h2>

      <ul>
      <% @creature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="span4">
	<%= image_tag @creature.photo.url(:thumb) %><br />
	</div>

	<div class="span4">
    <%= f.label :photo, "Image" %><br />
    <%= f.file_field :photo %>

    <%= f.label :name %>
    <%= f.text_field :name %>

	<%= f.label :date_aquired, "Date aquired" %>
	<%= f.text_field :date_aquired, :class => "datepicker"  %><br />

	<%= f.label :rip_date, "RIP Date :(" %>
	<%= f.text_field :rip_date, :class => "datepicker"  %><br />

    <%= f.label :scientific_name %><br />
    <%= f.text_field :scientific_name %>

    <%= f.label :diet, "Diet" %><br />
		<%= f.text_area :diet, :rows => 4 %>

	<%= f.label :temperament, "Temperament" %><br />
	<select name="creature[temperament]">
 <%= options_for_select([['Aggressive', 1], ['Semi-aggresive', 2], ['Peaceful', 3]], @creature.temperament) %>
	</select>

	<%= f.hidden_field :fishtank_id, :value => params[:fishtank_id] %><br />

	<%= f.label :tag_list %><br />
	<%= f.text_field :tag_list %><br />


		<div style='clear:both'><br /></div>
    <%= f.label :timeline_featured %><br />
		<%= f.check_box :timeline_featured %>
		<div style='clear:both'><br /></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
