<%= form_for(@creature) do |f| %>
  <% if @creature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@creature.errors.count, "error") %> prohibited this creature from being saved:</h2>

      <ul>
      <% @creature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date_aquired %><br />
    <%= f.date_select :date_aquired %>
  </div>
  <div class="field">
    <%= f.label :rip_date %><br />
    <%= f.date_select :rip_date %>
  </div>
  <div class="field">
    <%= f.label :scientific_name %><br />
    <%= f.text_field :scientific_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
