<h1>Creatures</h1>

<% @creatures.each do |creature| %>
		<%= image_tag creature.photo.url(:thumb)  %>

    <%# <%= link_to 'Show', creature %1> %>
    <%# <%= link_to 'Edit', edit_fishtank_creature_path(creature) %1> %>
    <%# <%= link_to 'Destroy', creature, confirm: 'Are you sure?', method: :delete %1> %>
<% end %>

<%# <%= link_to 'New Creature', new_creature_path %1> %>
