<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @creature.name %>
</p>

<p>
  <b>Date aquired:</b>
  <%= @creature.date_aquired %>
</p>

<p>
  <%= image_tag @creature.photo(:thumb) %>
</p>

<p>
  <b>Scientific name:</b>
  <%= @creature.scientific_name %>
</p>


<%= link_to 'Edit', edit_fishtank_creature_path(current_user) %> |
<%= link_to 'Back', creatures_path %>
