<%= provide :title, "Edit Gallery" %>
<h1>Update your gallery</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@gallery) do |f| %>
			<%= f.text_field :title %><br />
			<%= f.file_field :photo %><br />
			<%= image_tag @gallery.photo.url(:thumb) %><br />

			<div style='clear:both'></div>
			<%= f.submit "Update", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
<%= debug(@gallery) %>

