<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">

			<% if signed_in?
				if !homepage? %>
					<%= render 'layouts/admin_menu' %>
				<% end 
			   end %>

				 <% if defined?(@display_rhs_filters) %>
						 <div id="tag_cloud">
								 <h3>Tags:</h3><br />
								 <%= link_to "All", creatures_path, class: "label label-info" %>
								 <% tag_cloud Creature.tag_counts, "label label-info" do |tag, css_class| %>
										<%= link_to tag.name, tag_path(tag.name), class: "label label-info" %>
								<% end %>

								<div style='clear:both'><br /></div>

								 <% if @users %>
										 <h3>Reefkeepers:</h3><br />
											<% @users.each do |user| %>
													<%= link_to (gravatar_for user, 50) %>
											<% end %>
								 <% end %>
						 </div>
				<% end %>

			<% flash.each do |key, value| %>
				<%= content_tag('div', value, class: "alert alert-#{key}") %>
			<% end %>

			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
			<%= yield(:custom_scripts) %>
	</body>
</html>


